{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <section id="projetn8">
        <h1>Edit Projet</h1>

        {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_projet_index') }}">retour dans la liste</a>

        {{ include('projet/_delete_form.html.twig') }}
    </section>
{% endblock %}
